/***
    FileName: variables.css
    Author: 
    Desc: For Storing root variables

*/
@font-face {
    font-family: "VT323";
    src: url("./fonts/VT323/VT323-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Code New Roman";
    src: url("./fonts/code-new-roman.regular.otf") format('opentype');
}

@font-face {
    font-family: "Courier Prime";
    src: url("./fonts/Courier_Prime/CourierPrime-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Bitwise";
    src: url("./fonts/Bitwise-m19x.ttf") format('truetype');
}

@font-face {
    font-family: "Famirids";
    src: url("./fonts/Famirids.ttf") format('truetype');
}

@font-face {
    font-family: "Underwood Champion";
    src: url("./fonts/uwch.ttf") format('truetype');
}

:root {
    /*  --tf-default: Courier New, Courier, monospace;
    --t-caret: "\2588";
    --start: ">";
    --green-b: #114811;
    --green-f: #00ff64;
    --red-b: #5e0302;
    --red-f: #f01914;
    --blue-b: #3c3cff;
    --blue-f: #64c8ff;*/
}

    :root .terminal {
        --green-b: #114811;
        --green-f: #00ff64;
        --red-b: #5e0302;
        --red-f: #f01914;
        --blue-b: #3c3cff;
        --blue-f: #64c8ff;
        --tf-default: Courier New, Courier, monospace;
        --t-caret: "\2588";
        --start: ">";
    }
