@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inconsolata&family=Roboto+Mono&family=Share+Tech+Mono&family=VT323&display=swap");

/** 
* TERMINAL STYLEsheet

*
*/

@import url("../variables.css");
/* themes */
.default-theme {
    --color: var(--terminal-green-f);
    --bg: var(--terminal-green-b)
}

.info-theme {
}

.terminal {
    display: block;
    font-family: VT323, var(--tf-default);
}

    .terminal .containter {
    }

    .terminal .terminal-scan {
    }

    .terminal .lines {
    }

    .terminal .containter .terminal-content {
        overflow-y: auto;
        in
    }

    .terminal .message {
        display: block;
        position: absolute;
        width: 25em;
        height: 15em;
        background: var(--blue-bg);
        border: 1px solid var(--blue-fg);
        color: var(--blue-fg);
        padding: 1em;
        align-content: center;
    }

        .terminal .message .msg-content {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            vertical-align: central;
            text-align: center;
        }



    .terminal .msg-box {
    }

    .terminal #error {
        border: 1px solid
    }
    /*Terminal Themes*/
    .terminal .red {
        --color: var(--terminal-red-f);
        --bg: var(--terminal-red-b);
    }

    .terminal .blue {
        --color: var(--terminal-blue-f);
        --bg: var(--terminal-blue-b);
    }

    .terminal .green {
        --color: var(--terminal-green-f);
        --bg: var(--terminal-green-b);
    }
